@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.grid-container {
    display: grid;
    width: auto;
    height: auto;
    grid-auto-columns: 2.95rem;
    grid-auto-rows: minmax(min-content, max-content);
}

#ss-datepicker h1 {
    font-size: 1rem;
}

.dp-cell-selected {
    background: #007bff;
    color: white;
    border-radius: 5px;
}

.dp-text-muted {
    color: #bbbbbb;
}

.slide-in-top {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

#ss-datepicker {
    padding: 10px;
    margin-bottom: 20px;
    z-index: 1000;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.14);
    border-radius: 0.25rem;
    background: #f7fafc;
    position: absolute;
    /* left: 15px; */
    top: 100%;
    font-family: 'Raleway', sans-serif;
}
#ss-datepicker:focus {
    outline: none;
}
.date-btn {
    padding: 8px 24px;
    display: flex;
    background: #007bff;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
}

.ss-title-bar {
    grid-column-start: 1;
    grid-column-end: span 7;
    display: flex;
    margin-top: 0.5rem;
    user-select: none;
    width: 100%;
    margin-bottom: 1rem;
}

.ss-date-month {
    margin: 0 auto;
    display: inline-block;
    font-size: 1.25rem !important;
    align-self: center;
    font-weight: 700;
}

.ss-left-button {
    display: inline-block;
    align-self: center;
    font-size: 1.5rem;
    cursor: pointer;
    filter: invert(100%)
}

.ss-right-button {
    display: inline-block;
    align-self: center;
    font-size: 1.5rem;
    cursor: pointer;
    filter: invert(100%)
}

.dp-cell {
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    font-size: 0.9rem;
    text-align: center;
}

.dp-cell:hover:not(.dp-month, .dp-cell-selected) {
    background: #ececec;
}



/* Sunday */

.dp-c-1 {
    grid-column-start: 1;
}

/* Monday */

.dp-c-2 {
    grid-column-start: 2;
}

/* Tuesday */

.dp-c-3 {
    grid-column-start: 3;
}

/* Wednesday */

.dp-c-4 {
    grid-column-start: 4;
}

/* Thursday */

.dp-c-5 {
    grid-column-start: 5;
}

/* Friday */

.dp-c-6 {
    grid-column-start: 6;
}

/* Saturday */

.dp-c-7 {
    grid-column-start: 7;
}

.dp-r-1 {
    grid-row-start: 1;
}

.dp-r-2 {
    grid-row-start: 2;
}

.dp-r-3 {
    grid-row-start: 3;
}

.dp-r-4 {
    grid-row-start: 4;
}

.dp-r-7 {
    grid-row-start: 7;
}

.dp-month {
    font-weight: bold;
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-6-21 2:5:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}