.jumbo {
  background: inherit;
}

img {
  text-align: center;
}

h3, h5, p, h1 {
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
}

p {
  padding-left: 7%;
  padding-right: 7%;
  font-size: 1.2em;
}

.button-container {
  padding: none;
  margin: none;
}